GITHUB_TOKEN=local
RENDER_API_KEY=mock_key
RENDER_SERVICE_ID_WEB=mock_srv_web
RENDER_SERVICE_ID_BACKEND=mock_srv_backend
RENDER_WEB_DEPLOY_HOOK=https://mock.render.com/deploy
RENDER_BACKEND_DEPLOY_HOOK=https://mock.render.com/deploy
RELEASE_PLEASE_TOKEN=mock_token
GOOGLE_CLIENT_ID=mock_client_id
