NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=

# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=
# OAuth Redirect URIs;
NEXT_PUBLIC_OAUTH_REDIRECT_URI_WEB=
NEXT_PUBLIC_OAUTH_REDIRECT_URI_DESKTOP=
NEXT_PUBLIC_OAUTH_PORT= 

# API Configuration
NEXT_PUBLIC_API_BASE_URL=